<%= render "orders/shared/sign_out" %>

<h1>Your orders</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Second name</th>
    <th>Patronymic</th>
    <th>Phone</th>
    <th>E-mail</th>
    <th>Weight</th>
    <th>Length</th>
    <th>Width</th>
    <th>Height</th>
    <th>Departure address</th>
    <th>Arrival address</th>
    <%= form_with method: 'get' do |form| %>
      <%= hidden_field_tag(:items_per_page, params[:items_per_page]) if params[:items_per_page].present? %>
      <%= hidden_field_tag(:operator, params[:operator]) if params[:operator].present? %>
      <%= hidden_field_tag(:sort, 'distance') %>
      <th><%= submit_tag 'Distance', name: nil %></th>
    <% end %>
    <%= form_with method: 'get' do |form| %>
      <%= hidden_field_tag(:items_per_page, params[:items_per_page]) if params[:items_per_page].present? %>
      <%= hidden_field_tag(:operator, params[:operator]) if params[:operator].present? %>
      <%= hidden_field_tag(:sort, 'price') %>
      <th><%= submit_tag 'Price', name: nil %></th>
    <% end %>
    <%= form_with method: 'get' do |form| %>
      <%= hidden_field_tag(:items_per_page, params[:items_per_page]) if params[:items_per_page].present? %>
      <%= hidden_field_tag(:operator, params[:operator]) if params[:operator].present? %>
      <%= hidden_field_tag(:sort, 'created_at') %>
      <th><%= submit_tag 'Date', name: nil %></th>
    <% end %>
    <th>Status</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.name %></td>
      <td><%= order.s_name %></td>
      <td><%= order.patronymic %></td>
      <td><%= order.phone %></td>
      <td><%= order.email %></td>
      <td><%= order.weight %></td>
      <td><%= order.length %></td>
      <td><%= order.width %></td>
      <td><%= order.height %></td>
      <td><%= order.dep_address %></td>
      <td><%= order.arr_address %></td>
      <td><%= order.distance %></td>
      <td><%= order.price %></td>
      <td><%= order.created_at %></td>
      <td><%= order.status %></td>
    </tr>
  <% end %>
</table>

<%= form_with method: 'get' do |form| %>
  Orders per page
  <%= hidden_field_tag(:sort, params[:sort]) if params[:sort].present? %>
  <%= hidden_field_tag(:operator, params[:operator]) if params[:operator].present? %>
  <%= select_tag("items_per_page", options_for_select([['25', 25],
                                                        ['50', 50],
                                                        ['100', 100]
                                                       ],
                                                       selected: params[:items_per_page] || nil
                                                      )) %>
  <%= submit_tag 'Select', name: nil %>
<% end %>

<%= render "orders/shared/select_operator" if current_user.admin? %>

<%= paginate @orders %>

<button>
  <a href="<%= new_order_url(@order) %>">
    Create New Order
  </a>
</button>
